@page
@model Assignment_WebBank.Pages.Sections.AccountViews.DepositViewModel
@{
    var oneCustomerId = Model.OneCustomer.CustomerId;
    var oneAccountId = Model.OneAccount.AccountId;

    var successMessage = ViewData["Message"]?.ToString();

}
<div>
    <h1 class="d-flex justify-content-center py-5" style="color:#cc1616;">Deposit</h1>
</div>

<div class="red-line">
    <div style="background:#cc1616; height: 1px; width: 400px; justify-self: center;"></div>
</div>

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="d-flex justify-content-center">
        <div data-aos="fade-down" class="alert ok-message-holder" role="alert">
            <div class="message-container">
                @successMessage
            </div>

        </div>
    </div>
}


<form method="post" style="padding-bottom: 600px;">
    <div class="form-group">
        <div class="d-flex justify-content-center">
            <div class="d-block" style="width: 500px;">
                <label asp-for="Amount">Amount</label>
                <input class="form-control" asp-for="Amount" />
                <div class="d-flex justify-content-center">
                    <span style="color: #cc1616" class="field-validation-error" asp-validation-for="Amount"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-center">
            <div class="d-block" style="width: 500px;">
                <label asp-for="DepositDate">Date</label>
                <input class="form-control" asp-for="DepositDate" />
                <div class="d-flex justify-content-center">
                    <span style="color: #cc1616" class="field-validation-error" asp-validation-for="DepositDate"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-center">

            <div class="d-block" style="width: 500px;">
                <label asp-for="Comment">Comment</label>
                <input class="form-control" asp-for="Comment" />
                <div class="d-flex justify-content-center">
                    <span style="color: #cc1616" class="field-validation-error" asp-validation-for="Comment"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="red-line">
        <div style="background:#cc1616; height: 1px; width: 400px; justify-self: center;"></div>
    </div>

    <div class="d-flex justify-content-around my-3">
        <a asp-page="/Sections/AccountViews/AccountView" asp-route-customerId="@oneCustomerId" asp-route-accountId="@oneAccountId" class="btn-lines">BACK</a>
        <button type="submit" class="btn-lines">Deposit</button>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}