<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bank Of Scandinavia</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/red-bank-icon-new.png" rel="icon">
    <link href="~/img/red-bank-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CustomerCardView.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DepoWithSucces.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />

    <!-- FONT AWESOME CDN: CONTENT DELIVERY NETWORK -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
            <a asp-page="/Index">
                <img src="~/img/red-bank-icon-new.png" />Bank Of Scandinavia
            </a>
        </h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" asp-page="/Index">Home</a></li>
                <li><a class="nav-link" asp-page="/Sections/GeneralViews/About">About</a></li>
                <li><a class="nav-link" asp-page="/Sections/GeneralViews/Contact">Contact</a></li>
                @if (User.IsInRole("Cashier"))
                {
                    <li><a class="nav-link" asp-page="/Sections/CustomerViews/CustomerView">Customers</a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#"><span>Crud Menu</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <a href="#"><span>User Crud</span> <i class="bi bi-chevron-down"></i></a>
                            <li><a asp-page="/Sections/CRUDviews/User/UserCreateView">Create User</a></li>
                            <li><a asp-page="/Sections/CRUDviews/User/UserUpdateView">Update User</a></li>
                            <li><a asp-page="/Sections/CRUDviews/User/UserDeleteView">Delete User</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Customer Crud</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a asp-page="/Sections/CRUDviews/Customer/CreateCustomerView">Create New Customer</a></li>
                                    <li><a asp-page="/Sections/CRUDviews/Customer/ReadCustomers">Update Existing Customer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
                    <partial name="_LoginPartial" />
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<main id="main">
    @RenderBody()
</main>

<footer id="footer" style="padding-top: 200px;">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Bank Of Scandinavia</h3>
                        <p>
                            Kung Gustavs Gata <br>
                            Stockholm 147 08, Sweden<br><br>
                            <strong>Phone:</strong>+46 55 555 55 55<br>
                            <strong>Email:</strong> info@bankscandinavia.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a asp-page="/Index">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-page="/Sections/GeneralViews/About">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a asp-page="/Sections/GeneralViews/Contact">Contact us</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our Newsletter to Always get the Latest from Us</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Bank Of Scandinavia</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>

<a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="~/vendor/aos/aos.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>

<script src="~/js/main.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</html>