@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="d-flex justify-content-center">
    <div class="mt-5 flex-column justify-content-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this Page.</p>
        <p class="text-danger">Log in with the correct credentials to get Authorized.</p>
    </div>
    
</header>
