

.header-table{
    font-size: 25px;
    color: #cc1616;
}

.card-img-top {
    transition: transform 0.2s ease-in-out; /* add transition effect */
}

.card-text {
    transition: transform 0.2s ease-in-out; /* add transition effect */
}

.card:hover .card-img-top {
    transform: scale(1.2); /* scale image on hover */
}

.card:hover .card-text {
    transform: scale(1.05); /* scale text on hover */
}

.redbuttonhover {
    background-color: #cc1616;
    color: white;
    border: transparent;
}

    .redbuttonhover:hover {
        background-color: #ed1616;
        border: white;
    }

