.red-line{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.radio-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .radio-input input {
        appearance: none;
        width: 2em;
        height: 2em;
        background-color: black;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
        border-radius: 5px;
        transition: .4s ease-in-out;
    }

        .radio-input input:hover {
            scale: 1.2;
            cursor: pointer;
            box-shadow: none;
        }

    .radio-input .plus1 {
        position: relative;
        top: 0.01em;
        left: -1.6em;
        width: 1.3em;
        height: 0.2em;
        background-color: red;
        rotate: 45deg;
        scale: 0;
        border-radius: 5px;
        transition: .4s ease-in-out;
    }

    .radio-input .plus2 {
        position: relative;
        width: 1.3em;
        height: 0.2em;
        background-color: red;
        transform: rotate(90deg);
        border-radius: 5px;
        transition: .4s ease-in-out;
    }

    .radio-input input:checked {
        box-shadow: none;
    }

        .radio-input input:checked + .plus1 {
            transform: rotate(180deg);
            scale: 1;
        }

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #cc1616;
    --fs-size: 1.2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    color: white;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(-10px -10px 23px var(--animation-color))
}

.btn-lines {
    text-align: center;
    background: #cc1616;
    color: black;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
}

    .btn-lines span {
        display: inline-block;
        transform: skew(21deg);
    }

    .btn-lines::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
        background: #363636;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
    }

    .btn-lines:hover {
        color: #fff;
    }

        .btn-lines:hover::before {
            left: 0;
            right: 0;
            opacity: 1;
        }

.header-table{
    font-size: 25px;
    color: #cc1616;
}

.card-img-top {
    transition: transform 0.2s ease-in-out; /* add transition effect */
}

.card-text {
    transition: transform 0.2s ease-in-out; /* add transition effect */
}

.card:hover .card-img-top {
    transform: scale(1.2); /* scale image on hover */
}

.card:hover .card-text {
    transform: scale(1.05); /* scale text on hover */
}

.redbuttonhover {
    background-color: #cc1616;
    color: white;
    border: transparent;
}

    .redbuttonhover:hover {
        background-color: #ed1616;
        border: white;
    }

