@page
@model Assignment_WebBank.Pages.ViewModels.NorwayViewModel
@{
}
<div>
    <h1 class="text-center my-5" style="padding-top: 80px; padding-bottom: 40px;">Norway Top 10 Customers</h1>
</div>



<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>Balance</th>
            <th>Country</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model.NorwayAccounts)
        {
            <tr>
                <td>@a.Balance</td>
                <td>@a.Country</td>
                <td>@a.City</td>
            </tr>
        }
    </tbody>
</table>
