@page
@model Assignment_WebBank.Pages.Sections.CRUDviews.User.UpdateViewModel
@{
}

<div class="d-flex justify-content-center pt-5">
    <h1 style="color: #cc1616;">Update User</h1>
</div>

<div class="red-line">
    <div style="background:#cc1616; height: 1px; width: 400px; justify-self: center;"></div>
</div>
<div class="d-flex justify-content-around m-0">
    <div data-aos="fade-up" style="padding-bottom: 600px; width: 400px;">
        <form method="post" >
            <input type="hidden" asp-for="UserId" />
            <div class="textInputWrapper">
                <label for="UserVM.UserName">New User Name:</label>
                <input asp-for="UserVM.UserName" class="textInput" />
                <div class="d-flex justify-content-center">
                    <span style="color: #cc1616" class="field-validation-error" asp-validation-for="UserVM.UserName"></span>
                </div>
            </div>
            <div class="textInputWrapper">
                <label for="UserVM.Email">New Email:</label>
                <input asp-for="UserVM.Email" class="textInput" />
                <div class="d-flex justify-content-center">
                    <span style="color: #cc1616" class="field-validation-error" asp-validation-for="UserVM.Email"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-3">
                <button class="button" type="submit">
                    <span class="actual-text">&nbsp;Update&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Update&nbsp;</span>
                </button>
            </div> 
        </form>

        <div class="red-line">
            <div style="background:#cc1616; height: 1px; width: 400px; justify-self: center;"></div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn-lines" asp-page="/Sections/CRUDviews/User/UserUpdateView">Back</a>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}