@page
@model Assignment_WebBank.Pages.Sections.GeneralViews.AboutModel
@{
}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>About Bank of Scandinavia</h3>
                <p class="fst-italic">
                    We provide a wide range of banking and financial services to individuals, businesses, and corporations across the Scandinavian region. Our goal is to help our customers achieve their financial goals and grow their wealth.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> Personal Banking: Our personal banking services are designed to help individuals manage their money and achieve their financial goals. 
                                                            We offer a range of savings accounts, credit cards, loans, and investment products to meet the unique needs of our customers.</li>
                    <li><i class="bi bi-check-circle"></i> Business Banking: Our business banking services are tailored to meet the specific needs of small and large businesses. 
                                                            We offer a range of services including business loans, lines of credit, and cash management solutions to help our business customers succeed.</li>
                    <li><i class="bi bi-check-circle"></i> Corporate Banking: Our corporate banking services are designed to meet the complex financial needs of large corporations. 
                                                            We provide a range of financing solutions, cash management services, and investment products to help our corporate customers grow and succeed.</li>
                </ul>
                <p>
                    Bank of Scandinavia is a premier financial institution serving customers in Denmark, Finland, Sweden, and Norway.
                    We have a long history of providing high-quality banking and financial services to our customers,
                    and we are committed to helping them achieve their financial goals. 
                    Our team of experienced professionals is dedicated to providing exceptional customer service and innovative financial solutions that meet the unique needs of our customers.
                    We are proud to be a part of the Scandinavian community and are committed to supporting the economic growth and prosperity of the region.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->